<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <h2>Change Password</h2>
    <form method="POST" action="/change-password">
        <label>Old Password:</label>
        <input type="password" name="oldPassword" required><br>
        <label>New Password:</label>
        <input type="password" name="newPassword" required><br>
        <button type="submit">Update Password</button>
    </form>
</body>
</html>
